nav,
.offcanvas {
    background-color: #1e293b;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 769px) {
    .navbar-nav>li:hover {
        background-color: #0dcaf0;
    }
}