.tarjeta{
    background-color: #F2B705;
    border-radius: 10px;
}

.imgTarjeta{
    min-height: 190px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.cardCustom{
    transition: 0.5s all;
    overflow: hidden;
    border-radius: 10px;
    border: transparent;
}

a:hover .cardCustom{
    transform: scale(1.001);
    /* border: 1.5px solid #666666 !important; */
    box-shadow: 2px 2px 10px gray;    
}