.tarjeta{
    background-color: #F2B705;
    border-radius: 10px;
}

.imgTarjeta{
    min-height: 190px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}